@model IEnumerable<FiveSessionWebMvcApp.Models.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetails.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetails.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
